.g{
    
}

.perna{
    background-color: black;
    height: 30px;
    width: 300px;
    border-radius: 50px;
    transform: rotate(120deg);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 400px;
}

iframe{
    width: 350px;
    height: 350px;
    border-radius: 402px;
    border: 10px solid #000000;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 100px;
    z-index: 99;
}