*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    -webkit-user-drag: none;
  }

/* classes */
.home{
    position: absolute;
    margin-top: 88px;
    width: 100%;
    height: 694px;
    left: 0px;
    background-color: #99ccff;
}

.linha_home{
    width: 2px;
    height: 210px;
    background-color: #000000;
    margin-left: 1090px;
    margin-bottom: -210px;
    margin-top: 400px;
}

.home_title{
    font-size: 14px;
    margin-left: 1100px;
    margin-top: -310px;
}

.home_title_2{
    font-size: 30px;
    margin-left: 1100px;
}

.quem_somos{
    position: absolute;
    width: 100%;
    height: 1200px;
    left: 0px;
    top: 771px;
    background-color: #E8EEEC;
}

.quem_somos_linha_2{
    margin-top: 40px;
    margin-left: 210px;
    width: 1100px;
    height: 2px;
    background-color: #000000;
}

.quem_somos_linha_1{
    margin-left: 210px;
    margin-bottom: 50px;
    width: 1100px;
    height: 2px;
    background-color: #000000;
}

.eventos{
    position: absolute;
    width: 100%;
    height: 800px;
    background-color: #BDD1DA;
    top: 1950px;
    left: 0px;
}

.eventos_linha_1{
    margin-left: 667px;
    width: 180px;
    height: 2px;
    background-color: #000000;
}

.seja_um_associado{
    position: absolute;
    width: 100%;
    height: 1400px;
    top: 2700px;
    left: 0px;
    background: #E8EEEC
}

.contato{
    position: absolute;
    width: 100%;
    height: 804px;
    left: 0px;
    top: 4100px;
    background: #BDD1DA
}

.conheça_natal{
    position: absolute;
    width: 100%;
    height: 1000px;
    left: 0px;
    top: 0px;
    background-color: #E8EEEC;
}

.nossos_serviços{
    background-color: #E8EEEC;
    position: absolute;
    width: 100%;
    height: 800px;
    left: 0px;
    top: 0px;
}

.seja_um_associado_linha_1{
    margin-left: 550px;
    width: 400px;
    height: 2px;
    background-color: #000000;
}

.seja_um_associado_linha_2{
    margin-bottom: 50px;
    margin-top: -130px;
    margin-left: 350px;
    width: 220px;
    height: 2px;
    background-color: #000000;
}

.seja_um_associado_linha_3{
    margin-bottom: 50px;
    margin-top: -50px;
    margin-left: 948px;
    width: 220px;
    height: 2px;
    background-color: #000000;
}

.seja_um_associado_linha_4{
    margin-bottom: 50px;
    margin-top: 40px;
    margin-left: 350px;
    width: 820px;
    height: 2px;
    background-color: #000000;
}

.form-control{
    background-color: #C4C4C4;
    height: 30px;
    width: 400px;
    border-radius: 10px;
    margin-top: 10px;
    margin-block: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 0px 1px 1px #111111;
}

.form_button{
    margin-top: 10px;
    border-radius: 40px;
    height: 42px;
    width: 244px;
    font-size: 20px;
    font-weight: 800;
}

.contato_linha_1{
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: -5px;
    width: 450px;
    height: 2px;
    background-color: #000000;
}

.caixa_contatos{
    margin-top: -90px;
    margin-left: 900px;
    width: 480px;
    height: 700px;
    background-color: #C4C4C4;
    border-radius: 33px;
}

.redes h1{
    margin-left: 950px;
    margin-top: -700px;
}

.redes_linha_1{
    margin-left: 950px;
    margin-top: -590px;
    width: 200px;
    height: 2px;
    background-color: #000000;
}

/* ID */
#natal_cvb_logo{
    margin-top: 20px;
    margin-left: 88px;
    float: left;
    display: flex;
}

#natal_cvb_logo_2{
    margin-top: 50px;
}

#natal_cvb_logo_2 img{
    display: block;
    margin-bottom: -60px;
    margin-left: 658px;
}

#natal_cvb_logo_2 h4{
    text-align: right;
    padding-right: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

#menu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: -28px;
    margin-left: 680px;
}

#menu a{
    font-weight: bolder;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: #000000;
}

#menu a:hover{
    border-bottom: 4px solid  #99ccff;
}

#instagram_logo{
    margin-top: 30px;
    margin-left: 1340px;
}

#instagram_logo img{
    width: 35px;
}

#email_logo{
    margin-top: -39px;
    margin-left: 1400px;
}

#email_logo img{
    width: 35px;
}

#telephone_logo{
    margin-top: -39px;
    margin-left: 1460px;
}

#telephone_logo img{
    width: 35px;
}

#sol_logo img{
    margin-top: 100px;
    width: 100px;
    margin-left: 710px;
}

#conheça_natal_titulo{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

#conheça_natal_texto{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#conheça_natal_linha_1{
    width: 300px;
    height: 2px;
    background-color: #000000;
    margin-top: -35px;
    margin-left: 340px;
}

#conheça_natal_linha_2{
    width: 300px;
    height: 2px;
    background-color: #000000;
    margin-top: -5px;
    margin-left: 880px;
}

#conheça_natal_linha_3{
    width: 850px;
    height: 2px;
    background-color: #000000;
    margin-top: 20px;
    margin-left: 340px;
}

#conheça_natal_btn{
    margin-top: 40px;
    margin-left: 630px;
    padding-top: 10px;
    padding-right: 15px;
    font-weight: 800;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #000000;
    height: 50px;
    width: 280px;
    line-height: 28px;
    border-radius: 40px;
}

#conheça_natal_btn a{
    margin-left: 20px;
    text-decoration: none;
    color: #4FA0CA;
}

#maleta_logo img{
    width: 100px;
    margin-top: 100px;
    margin-left: 710px;
}

#nossos_serviços_titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#nossos_serviços_linha_1{
    width: 320px;
    height: 2px;
    background-color: #000000;
    margin-top: -40px;
    margin-left: 310px;
}

#nossos_serviços_linha_2{
    width: 320px;
    height: 2px;
    background-color: #000000;
    margin-top: -3px;
    margin-left: 885px;
}

#nossos_serviços_texto{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 30px;
}

#nossos_serviços_linha_3{
    width: 920px;
    height: 2px;
    background-color: #000000;
    margin-top: 40px;
    margin-left: 300px;
}

#nossos_serviços_btn{
    margin-top: 40px;
    margin-left: 630px;
    padding-top: 10px;
    padding-right: 15px;
    font-weight: 800;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #000000;
    height: 50px;
    width: 280px;
    line-height: 28px;
    border-radius: 40px;
}

#nossos_serviços_btn a{
    margin-left: 20px;
    text-decoration: none;
    color: #4FA0CA;
}

#quem_somos_title{
    margin-top: 80px;
    font-weight: bolder;
    text-align: center;
}

#quem_somos_texto{
    margin-top: 50px;
    text-align: justify;
}

#quem_somos_btn_1{
    margin-top: 40px;
    margin-left: 445px;
    font-size: 24px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: #4FA0CA;
    text-align: center;
    background-color: #000000;
    height: 50px;
    width: 275px;
    line-height: 28px;
    border-radius: 40px;
}

#quem_somos_btn_1 a{
    display: flex;
    padding-left: 15px;
    padding-top: 10px;
    color: #4FA0CA;
    text-decoration: none;
}

#quem_somos_btn_2{
    margin-top: -50px;
    margin-left: 780px;
    font-weight: 800;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #000000;
    height: 50px;
    width: 280px;
    line-height: 28px;
    border-radius: 40px;
}

#quem_somos_btn_2 a{
    display: flex;
    padding-left: 30px;
    padding-top: 10px;
    color: #4FA0CA;
    text-decoration: none;
}

#eventos_title{
    font-weight: bold;
    margin-top: 80px;
    text-align: center;
}

#eventos_title h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 550px;
}

#seja_um_associado_title{
    font-weight: bold;
    margin-top: 80px;
    text-align: center;
}

#seja_um_associado_title_2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 120px;
    text-align: center;
}

#contato_title{
    margin-left: 160px;
    margin-top: 60px;
}

#instagram_logo_2 img{
    width: 50px;
    margin-left: 950px;
    margin-top: -570px;
    display: flex;
}

#instagram_logo_2 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    margin-top: -55px;
    margin-left: 1020px;
    display: flex;
}

#instagram_logo_2 a{
    text-decoration: none;
}

#facebook_logo img{
    width: 50px;
    margin-left: 950px;
    margin-top: 40px;
    display: flex;
}

#facebook_logo h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    margin-top: -55px;
    margin-left: 1020px;
    display: flex; 
}

#facebook_logo a{
    text-decoration: none;
}

#email_logo_2 img{
    width: 50px;
    margin-left: 950px;
    margin-top: 40px;
    display: flex;
}

#email_logo_2 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-top: -55px;
    margin-left: 1020px;
    display: flex; 
}

#email_logo_2 a{
    text-decoration: none;
}

#telepnhone_logo_2 img{
    width: 50px;
    margin-left: 950px;
    margin-top: 30px;
    display: flex;
}

#telepnhone_logo_2 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-top: -60px;
    margin-left: 1020px;
    display: flex; 
}

#telepnhone_logo_2 a{
    text-decoration: none;
}

#location_logo img{
    width: 50px;
    margin-left: 950px;
    margin-top: 40px;
    display: flex;
}

#location_logo h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: -70px;
    font-weight: bolder;
    margin-left: 1020px;
    padding-right: 160px;
    line-height: 30px;
    display: flex; 
}

#twitter_logo img{
    width: 50px;
    margin-left: 950px;
    margin-top: 40px;
    display: flex;
}

#twitter_logo h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-top: -55px;
    margin-left: 1020px;
    display: flex; 
}

#twitter_logo a{
    text-decoration: none;
}

#mapa{
    margin-top: 60px; 
    margin-left: 200px;
}

#lupa{
    margin-left: -110px;
    margin-top: -50px;
}
/* tags */

header{
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 96px;
    left: 0px;
    top: 0px;
    background-color: #8ee4ff;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 65px;
    color: #000000;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-left: 350px;
    padding-right: 350px;
    font-size: 20px;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 400px;
    padding-right: 200px;
    list-style-image: url('');
}

footer{
    position: absolute;
    width: 100%;
    height: 52px;
    left: 0px;
    top: 4905px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    background-color: #E8EEEC;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

form{
    background-color: #C4C4C4;
    width: 500px;
    border-radius: 33px;
    height: 553px;
    margin-top: 10px;
    margin-left: 500px;
    padding-left: 60px;
    padding-top: 20px;
}

button{
    height: 30px;
    width: 150px;
    position: relative;
    color: #4FA0CA;
    background-color: #000000;
    margin-left: 80px;
    display: flex;
    padding-left: 90px;
    padding-top: 5px;
}

iframe{
    border: 8px solid #000;
    border-radius: 400px;
    width: 389px;
    height: 380px;
}