body{
    background-color: black;
}

.tudo h1{
    text-align: center;
    margin-bottom: 5%;
}

.tudo{
    background-color: #5ABFC4;
}

.cartas{
    padding-left: 20%;
    padding-right: 20%;
}

.p p{
    text-align: center;
    margin-top: 2%;
}

.carta{
    width: 200px;
    height: 400px;
    border-radius: 40px !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25) !important; 
}

.carta img{
    width: 100%;
    height: 150px;
    border-top-left-radius: 40px !important;
    border-top-right-radius: 40px !important;
}

.card-corpo{
    background-color: #ffffff; 
}

.card-corpo p{
    text-align: center;
}

.card-corpo h5{
    text-align: center;
}

.saiba-mais{
    font-size: 18px;
    list-style: none;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    background-color: #EE2836;
    text-align: center;
    border-radius: 40px;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 10%;
}