@media only screen and (min-device-width: 1024px) and (max-device-width: 2000px){

    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        scroll-behavior: smooth;
        -webkit-user-drag: none;
    }

    body{
        background-color: #ffffff;
        margin: 0;
        padding: 0;
        background-attachment: fixed;
        background-size: cover;
    }

    header{
        width: 100%;
    }

    .title{
        float: left;
        margin-top: 5%;
    }

    .title h1{
        font-weight: bolder;
        font-size: 280%;
        margin-left: 4%;
    }

    .title h2{
        font-size: 130%;
        margin-top: 1%;
        margin-left: 4%;
    }

    .eventos_linha{
        width: 91%;
        height: 0.3%;
        background-color: black;
        margin-bottom: 2%;
        margin-left: 4%;
        margin-right: 2%;
        margin-top: 4%;
    }

    .conteudo img{
        width: 35%;
        float: right;
        position: static;
        border-radius: 22px;
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 1%;
    }

    .conteudo p{
        text-align: justify;
        padding-left: 4%;
        padding-right: 5%;
        margin-top: 3%;
    }

    .eventos_button{
        text-align: right;
        margin-right: 10%;
    }

    .button_1{
        display: inline-block;
        color: #ffffff !important;
        background: #EE2836;
        font-weight: bolder;
        padding-left: 1%;
        padding-right: 1%;
        border-radius: 40px;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        text-decoration: none !important;
    }

    .button_1 a{
        text-decoration: none;
    }

    .button_2{
        margin-left: 2%;
        color: #ffffff !important;
        background: #EE2836;
        font-weight: bolder;
        padding-left: 1%;
        padding-right: 1%;
        border-radius: 40px;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        text-decoration: none !important;
    }

    .button_2 a{
        text-decoration: none;
    }

    footer{
        background-color: #5ABFC4;
        text-align: center;
        margin-top: 2%;
    }
    
    footer h3{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
        font-size: 120%;
        display: inline-block;
        color: #000000;
    }
    
    footer img{
        width: 1.3%;
        padding-bottom: 0.5%;
        margin-left: 0.5%;
    }

}

/* IPADS/TABLETS */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){

    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        scroll-behavior: smooth;
        -webkit-user-drag: none;
    }

    body{
        background-color: #ffffff;
        margin: 0;
        padding: 0;
        background-attachment: fixed;
        background-size: cover;
    }

    header{
        width: 100%;
    }

    .title{
        float: left;
        margin-top: 5%;
    }

    .title h1{
        font-weight: bolder;
        font-size: 280%;
        margin-left: 4%;
    }

    .title h2{
        font-size: 130%;
        margin-top: 1%;
        margin-left: 4%;
    }

    .eventos_linha{
        width: 91%;
        height: 0.3%;
        background-color: black;
        margin-bottom: 5%;
        margin-left: 4%;
        margin-right: 2%;
        margin-top: 4%;
    }

    .conteudo img{
        width: 55%;
        height: 35%;
        float: right;
        margin-left: 5%;
        border-radius: 22px;
        margin-top: 1%;
    }

    .conteudo p{
        text-align: justify;
        padding-left: 4%;
        padding-right: 5%;
        margin-top: 5%;
    }

    .eventos_button{
        text-align: right;
        margin-right: 5%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .button_1{
        display: inline-block;
        color: #ffffff !important;
        background: #EE2836;
        font-weight: bolder;
        margin-right: 5%;
        border-radius: 40px;
        padding: 2%;
        text-decoration: none !important;
    }

    .button_1 a{
        text-decoration: none;
    }

    .button_2{
        color: #ffffff;
        background: #EE2836;
        font-weight: bolder;
        padding: 2%;
        border-radius: 40px;
    }

    .button_2 a{
        text-decoration: none;
    }

    footer{
        background-color: #5ABFC4;
        text-align: center;
        margin-top: 2%;
    }
    
    footer h3{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
        font-size: 120%;
        display: inline-block;
        color: #000000;
    }
    
    footer img{
        width: 2%;
        padding-bottom: 0.5%;
        margin-left: 0.5%;
    }

}

/* SMARTPHONES */

@media only screen and (min-device-width: 320px) and (max-device-width: 760px){

    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        scroll-behavior: smooth;
        -webkit-user-drag: none;
    }

    body{
        background-color: #ffffff;
        margin: 0;
        padding: 0;
        background-attachment: fixed;
        background-size: cover;
    }

    header{
        width: 100%;
    }

    .title{
        float: left;
        margin-top: 5%;
    }

    .title h1{
        font-weight: bolder;
        font-size: 280%;
        margin-left: 3%;
    }

    .title h2{
        font-size: 110%;
        margin-top: 1%;
        margin-left: 4%;
    }

    .eventos_linha{
        width: 91%;
        height: 0.3%;
        background-color: black;
        margin-bottom: 2%;
        margin-left: 4%;
        margin-right: 2%;
        margin-top: 4%;
        margin-bottom: 10%;
    }

    .conteudo img{
        width: 100%;
        height: 35%;
        float: right;
        margin-left: 5%;
        border-radius: 22px;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .conteudo p{
        text-align: justify;
        padding-left: 4%;
        padding-right: 5%;
        margin-top: 3%;
    }

    .eventos_button{
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .button_1{
        display: inline-block;
        color: #ffffff !important;
        background: #EE2836;
        font-weight: bolder;
        margin-right: 5%;
        border-radius: 40px;
        padding: 3%;
        text-decoration: none !important;
    }

    .button_1 a{
        text-decoration: none;
    }

    .button_2{
        color: #ffffff;
        background: #EE2836;
        font-weight: bolder;
        padding: 3%;
        border-radius: 40px;
    }

    .button_2 a{
        text-decoration: none;
    }

    .evento{
        background: #F7FBFC;
    }

    .evento h1{
        margin-top: 3%;
        font-size: 220%;
        font-weight: bolder;
        margin-left: 15%;

    }

    footer{
        background-color: #5ABFC4;
        text-align: center;
        margin-top: 2%;
    }
    
    footer h3{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
        font-size: 100%;
        display: inline-block;
        color: #000000;
    }
    
    footer img{
        width: 3.5%;
        padding-bottom: 0.5%;
        margin-left: 0.5%;
    }

}